.Home__SideContent {
  display: flex;
}

.home__image {
  width: 150vh;
  height: 400px;
  margin-top: 20px;
  margin-left: 40px;
  box-shadow: 5px 5px 5px #888888;
}

.Middle__Content {
  display: flex;
  width: 150vh;
  margin-top: -500px;
  margin-left: 20px;
}

.Middle__Content2 {
  display: flex;
  width: 150vh;
  height: 400px;
  margin-top: 40px;
  margin-left: 40px;
  
}
