.Nav {
  background: white;
  height: 40px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px #888888;
}

.logo {
  margin-top: -20px;
  font-weight: bolder;
  font-size: 150%;
}

.Links {
  display: flex;
  justify-content: flex-end;
  margin-top: -45px;
  font-weight: bold;
}

.Links > div {
  margin-right: 40px;
}
