.Side__Container {
  flex: 30%;
  width: 300px;
  margin-left: 80px;
  margin-top: 20px;
}

.Side__Content {
  color: black;
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
  background: white;
  box-shadow: grey;
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}

@media screen and (max-width: 800px) {
.Side__Container{
  margin-left: 5px;
}
}
